@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.cabecalho{
    background-image: linear-gradient(to bottom, rgb(190, 162, 5), #212121);
    padding: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;

    .divHomeLoginVeiculos{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;

        @media (max-width:1200px) {
            flex-direction: column;
        }

        a{
            // font-family: 'Bebas Neue', sans-serif;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-decoration: none;
            padding: 20px;
            font-size: 60px;
            font-weight: bold;
            color: black;


            &:hover{
                color: bisque;
                border-radius: 10px;

            }
        }
    }

    nav{
        height: 100%;
        
        ul{
            display: flex;
            justify-content: space-evenly;
            list-style: none;

            @media (max-width: 1200px) {
                flex-direction:column;

                li{
                    margin-top: 30px;

                    a{
                        text-align: center;
                    }
                }
            }

            li{

                a{
                    color: gold;
                    text-decoration: none;
                    padding: 15px;
                    font-weight: bold;
                    text-shadow: 2px 3px 5px black;

                    &:hover{
                        color: bisque;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    .active{
        border-radius: 10px;
        border: 2px solid gold;
    }
}