

.cabecalho{
    background-color: #2F1852;
    padding: 20px;

    .divHomeLoginVeiculos{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;

        a{
            text-decoration: none;
            padding: 20px;
            font-size: 25px;
            font-weight: bold;
            color: goldenrod;
            text-shadow: 2px 2px 1px black;

            &:hover{
                color: white;
                border-radius: 10px;
            }
        }
    }

    nav{
        height: 100%;
        
        ul{
            display: flex;
            justify-content: space-evenly;
            list-style: none;

            li{

                a{
                    color: rgb(189, 161, 0);
                    text-decoration: none;
                    padding: 15px;
                    font-weight: bold;

                    &:hover{
                        color: white;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    .active{
        background-color: gold;
        color: black;
        border-radius: 10px;
    }
}