@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.cabecalho{
    background-color: #212121;
    padding: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;

    .divHomeLoginVeiculos{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;

        @media (max-width:1200px) {
            flex-direction: column;
        }

        a{
            font-family: 'Bebas Neue', sans-serif;
            text-decoration: none;
            padding: 20px;
            font-size: 60px;
            font-weight: bold;
            color: gold;


            &:hover{
                color: bisque;
                border-radius: 10px;

            }
        }
    }

    nav{
        height: 100%;
        
        ul{
            display: flex;
            justify-content: space-evenly;
            list-style: none;

            @media (max-width: 1200px) {
                flex-direction:column;

                li{

                    a{
                        text-align: center;
                    }
                }
            }

            li{

                a{
                    color: white;
                    text-decoration: none;
                    padding: 15px;
                    font-weight: bold;

                    &:hover{
                        color: bisque;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    .active{
        text-shadow: 3px 3px 3px gray;
        color: gold;
        border-radius: 10px;
    }
}