div{
    div{
        .editor{
            align-items: center;
            justify-content: center;
            text-align: center;
            display: flex;
            flex-direction: column;

            .labelEdit{
                margin: 10px;
            
                
            }
            .inputEdit{
                text-align: center;
                padding: 2px;

            }
            button{
                margin-top: 14px;
                width: 100px;
                padding: 7px;
                border-radius: 3px;

                
                
            }
        }
    }
}