div{

    form{

        fieldset{
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0 30%;
            padding: 30px;
            border-radius: 10px;
            
            legend{
                text-align: center;
            }


            input{
                width: 300px;
                height: 25px;
                border-radius: 3px;
                text-align: center;
            }
                
            

            label{
                margin-top: 5px;
                              
            }


            button{
                padding: 10px;
                margin-top: 10px;
                width: 100px;
                border-radius: 10px;
            }
        }
    }
}