footer{
    background-color: #1E0F33;

    div{
        display: flex;
        justify-content: space-evenly;

        section{
            padding: 30px;
            
            p{
                color: white;
            }
        }
    }
}