footer {
	background-image: linear-gradient(to bottom, #212121, rgb(78, 66, 0));
	color: #fff;
	padding: 20px;
	text-align: center;
    font-size: 20px;

    ul{
        list-style: none;
	    padding: 0;
	    margin: 0;
        
        li{
            display: inline-block;
	        margin: 0 10px;
            a {
                font-family: 'Bebas Neue', sans-serif;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}