div{
    .botaoModal{
        background-color: green;
        height: 50px;
        border-radius: 8px;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 80%;
        margin: 3% 40%;

       

        &:hover{
            background-color: greenyellow;
        }
    }
    
    
    
    table {
        border-collapse: collapse;
        border: 2px solid #434343;
    
        thead{
    
            .thTitulo{
                background-color: gold;
    
                th{
                    border: 2px solid #434343;
                    padding: 1%;
                    text-align: center;
                    color: black;
                }
            }
    
            tr{
                background-color: gold;
    
                th{
                    border: 2px solid 434343;
                    color: black;
                    padding: 1%;
                    text-align: center;
                }
            }
        }
    
        tbody{
            tr{
                background-color: var(--roxo4);
    
                td{
                    border: 1px solid 434343;
                    color: white;
                    text-align: center;
                    padding: 1%;
                }
            }
        }

        tfoot{
            tr{
                background-color: gray;
    
                td{
                    border: 1px solid 434343;
                    text-align: center;
                    padding: 1%;
                }
            }
        }
    }

}


